.container {
    display: flex;
    width: 400px;
    border: 2px solid black;
}

.box {
   flex-basis: 200px;  
    text-align: center;
    color: white;
    padding: 20px;
    flex-wrap: wrap;
}

.box1 {
    background-color: red;
    flex-shrink: 0; 
}

.box2 {
    background-color: blue;
    flex-shrink: 10;
}

.box3 {
    background-color: green;
    flex-shrink: 1; 
}